@font-face {
    font-family: 'Cantarell';
	src: url('../fonts/Cantarell-Regular.ttf');
	font-weight: normal; 
}

@font-face {
    font-family: 'TrendSansOne';
	src: url('../fonts/TrendSansOne.ttf');
	font-weight: normal; 
}



.active::after {
    content: url('../img/menu-marker.png');
    position: absolute;
    top: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    width: 100%;
    left: 0;
}

body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 0;    
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.logo {    
    height: 75px;
    background: white;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.logo a {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
}

.logo h1 {
    color: #6794b7;
    font-family: TrendSansOne;
    font-weight: normal;
    font-style: normal;
    font-size: 38px;
    margin: 0;
    padding: 0;  
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    position: relative;
    top: -5px;
}

.logo h1 span {
    margin: 0 12px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo h1 span::after {
    content: url('../img/racoon.png');
    position: absolute;
    left: -9px;
    top: 0;
}

.menu {
    width: 100%;
    position: relative;
    background: #6b9ad0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 4px solid #c6defa;
    margin: 8px 0 30px 0;
    height: 48px;
}

.menu-button {
    width: 40px;
    height: 42px;
    background: #7ca7d9;
    color: #608dc1;
    margin: 2px 1.5px 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;    
    -webkit-box-align: center;    
        -ms-flex-align: center;    
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-family: 'Arial Regular', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    cursor: pointer;
}

.menu-button:hover {
   opacity: 0.6;
}

.menu-button:active {
    background: hsl(212, 55%, 80%);
}

.about-button {
    display: none;
}

.some-info-button {
    display: none;
}

.tag-button-content::after {
    content: url('../img/tag.png');
}

.tag-button {
    display: none;
    font-size: 0;
}

.hamburger-button-content::after {
    content: url('../img/hamburger.png');
}

.hamburger-button {
    background: 0;
    display: none; 
    font-size: 0;  
}

.hamburger-wrapper {
    width: 80%;
    height: 100%;
}

.navigation {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0 0 0 -10px; 
    width: 100%; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}

.navigation li {
    margin: 0 15px 0 15px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
}

.navigation li a {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: white;
    font-size: 18px;    
    padding: 0 13px;
    height: 100%;
    margin: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu li:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#90b0d425), color-stop(30%, #90b0d4), color-stop(70%, #90b0d4), to(#90b0d425));
    background: linear-gradient(#90b0d425 0%, #90b0d4 30%, #90b0d4 70%, #90b0d425 100%);
    background-image: -ms-linear-gradient(top, rgba(144, 176, 212, 0.145) 0%, rgb(144, 176, 212) 30%, rgb(144, 176, 212) 70%, rgba(144, 176, 212, 0.145) 100%);
}

.main-sidebar-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
}

main {
    width: 40%;
    min-width: 455px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 14px;
}

.blog-post {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    font-size: 0;
}

.article-content {    
    width: 100%;
}

.blog-post img {
    width: 100%;
}

.blog-post h2 {
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    color: #69747c;
    padding-bottom: 8px; 
    margin-top: 8px;
    margin-bottom: 0;
}

.post-info-socials-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 40px;
    border-top: 1px solid #e2e5e8;
    border-bottom: 1px solid #e2e5e8;
    width: 100%;
}

.post-info {
    font-family: 'Arial Regular', Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    color: #69747c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.post-date, .post-author {
    margin-left: 20px;
    position: relative;
}

.post-date::before {
    content: url('../img/clock.png');
    margin-right: 3px;
    position: absolute;
    left: -15px;
    top: 1px;
}

.post-author::before {
    content: url('../img/step.png');
    margin-right: 3px;
    position: absolute;
    left: -14px;
}

.blog-post p {
    font-family: 'Arial Regular', Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #69747c;
    line-height: 1.5;
    text-align: justify;
    padding-top: 10px;
    margin: 0;
}

.share-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}

.share-socials a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 16px;
    font-style: normal;
    height: 24px;
    text-decoration: none;     
    color: white;
    background: #d1dae3;
    border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 6px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 6px;
}

.share-socials a span {
    padding-left: 10px;
    font-family: 'Arial Regular', Arial, sans-serif;
}

.share-socials a:last-child {
    margin-right: 0;
}

.fa-facebook:hover {
    background: #3b5999;
}

.fa-google-plus:hover {
    background: #d34836;
}

.fa-twitter:hover {
    background: #55acee;
}

.fa-vk:hover {
    background: #4c75a3;
}

.fa-odnoklassniki:hover {
    background: #ed812b;
}

sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 15%;
    min-width: 245px;
}

.additional-info-item {
    margin-bottom: 30px;
}

.additional-info h2 {
    font-family: 'Cantarell';
    font-weight: normal;
    font-size: 18px;
    font-style: normal;
    color: #6290b4;
    border-bottom: 5px solid #6794b7;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.4;
}

.additional-info h2::before {
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 30px;
    height: 26px;
    background: #6794b7;
    margin-right: 5px;
    position: relative;
}

.about h2::before {
    content: '?';
}

.some-info h2::before {
    content: '!';
}

.additional-info p {
    font-family: 'Arial Regular', Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    color: #69747c;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 0;
}
  
.tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.tag-wrapper {
    height: 18px;
    overflow: hidden;
    margin: 0 4px 6px;
}

.tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

.tag a {   
    text-decoration: none; 
    font-family: 'Arial Regular', Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    color: white;
    background: #6794b7;
    line-height: 18px;
    padding: 0 12px 0 14px;        
}

.tag::after {
    content: url('../img/tag-end.png');
}

.loading-spinner {
    position: fixed;
    bottom: 0;
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
}
.loading-spinner img { 
    -webkit-animation-name: spin;
            animation-name: spin;
    -webkit-animation-duration: 1000ms;
            animation-duration: 1000ms; 
    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear; 
            animation-timing-function: linear; 
} 

@-webkit-keyframes spin { 
    0% { -webkit-transform:rotate(360deg); transform:rotate(360deg); } 
    100% { -webkit-transform:rotate(0deg); transform:rotate(0deg); }
} 

@keyframes spin { 
    0% { -webkit-transform:rotate(360deg); transform:rotate(360deg); } 
    100% { -webkit-transform:rotate(0deg); transform:rotate(0deg); }
}

@media screen and (max-width: 770px) {
    .menu {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .about-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .some-info-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }

    main {
        width: 100%;
        margin: 0;        
        min-width: 0;
    }
    
    .blog-post {
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .article-content {
        width: 82%;
    }
    
    .additional-info{
        display: none;
    }

    sidebar {
       -webkit-box-ordinal-group: 0;
           -ms-flex-order: -1;
               order: -1;
       width: 90%;
       -ms-flex-item-align: center;
           align-self: center;
        margin-bottom: 10px;
    }

    .tags {
        width: 100%;
        -ms-flex-item-align: center;
            align-self: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .tag-wrapper {
        margin-bottom: 10px;
    }

    .main-sidebar-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .share-socials {
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end;
        top: 0;
        right: -2px;  
    }

    .share-socials a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 0 8px;    
    }

    .share-socials a span {
        display: none;
    }

    .share-socials a:hover  span{ 
        display: initial;
    }

    .fa-facebook {
        background-color: #3b5999!important;
    }
    
    .fa-google-plus {
        background: #d34836!important;
    }
    
    .fa-twitter {
        background: #55acee!important;
    }
    
    .fa-vk {
        background: #4c75a3!important;
    }
    
    .fa-odnoklassniki {
        background: #ed812b!important;
    }   
}

@media screen and (max-width: 650px) {
    .navigation li {
        margin: 0;
    }
    
    .navigation {
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }   
}

@media screen and (max-width: 530px) {
       .navigation li a {
           padding: 0;
       }
}

@media screen and (max-width: 470px) {
    .navigation li a {
        font-size: 12px;
    }

    .logo {
        height: 55px;
    }

    .logo h1 {
        font-size: 28px;
        top: -1px;
    }   
    
    .logo h1 span::after {
        top: -9px;
        left: -14px;
        -webkit-transform: scale(0.8);
                transform: scale(0.8);
    }

    .active::after {
        top: 45px;
    }

    .menu {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 350px) {
    .logo h1{
        font-size: 28px;
    }

    .share-socials a {
        font-size: 12px;
    }

    .navigation {
        margin-left: -3px;
    }
}

@media screen and (max-width: 320px) {
    .hamburger-wrapper {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 96%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
    }

    .hamburger-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }
   
    .navigation {
        display: none;
    }

    .hamburger-wrapper:active .navigation, .navigation:hover {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        -ms-flex-pack: distribute;
            justify-content: space-around;     
        background: #6b9ad0;
        width: 100vw;
        height: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        right: -5px;
        border-bottom: 4px solid #c6defa;
        margin-left: 10px;
    }

    .menu li a::after {
        display: none;
    }  

    .tag-button {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }

    .logo {
        height: 50px;
    }

    .logo h1 {
        font-size: 24px;
        top: -3px;
    }
    .logo h1 span {
        margin: 0 9px;
    }
    .logo h1 span::after {
        top: -12px;
        left: -16.5px;
        -webkit-transform: scale(0.7);
                transform: scale(0.7);
    }

    .menu {
        margin-top: 0;
        margin-bottom: 15px; 
        height: 34px;
        border: none;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }

    .menu-button {
        width: 30px;
        height: 30px;
    }

    .article-content {
        width: 90%;
    }

    .blog-post h2 {
        margin-top: 0;
        padding-top: 6px;
        text-align: center;
        font-size: 18px;
        background: #f4f5f6;
    }

    .post-info {
        width: 100%;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
    }

    .blog-post p {
        margin-bottom: 15px;
    }

    .post-info-socials-wrapper  {
        border-top: none;
    }

    .share-socials {
        position: absolute;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        bottom: -20px;
        width: 90%;
        margin: 0 5.5%;
    }
    .share-socials a {
        margin: 0;    
    }

    .share-socials a span {
        display: initial;
    }

    .tags {
        display: none;
    }
}